.tab-header {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.tab-header button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #dfdeff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: auto;
  margin-right: auto;
}

.tab-header .active-tab {
  background-color: #4541ab;
  color: white;
}

.tab-content {
  padding: 1rem;
  background-color: #dfdeff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
